$-default =
	background-color: $color-body
	color: $color-font

$-mid =
	{$-default}
	background-color: $color-mid

$-dark =
	background-color: $color-font
	color: $color-body

.-default
	{$-default}

.-dark
	{$-dark}

.-mid
	{$-mid}
