// Text
$font-size = 18px
$line-height = 32px
$font-sans = 'Inter UI', 'SF Pro Text', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif


// Color
$color-body = #fff
$color-font = #0B0D0C
$color-brand = #12002E
$color-accent = #002E27
$color-mid = mix($color-brand, $color-body, 2%)
$color-header = #18191A
$color-white = white
$color-error = #D0011B


$size-1 = 1.75rem
$size-2 = 1.25rem
$size-3 = 1.125rem
$size-4 = 1rem
$size-5 = 0.875rem
$size-6 = 0.75rem
