.Card
	margin-top: 1.25rem
	margin-bottom: 1.25rem
	background: $color-body
	padding: 2.5rem 2rem
	flex 1
	width: 100%
	.Card-title
		color: alpha($color-brand, 0.88)
		font-weight: 500
		line-height: $size-2
		font-size: $size-3
	.Card-description
		color: alpha($color-font, 0.66)
		margin-top: 1rem
		font-size: $size-4
		line-height: $size-1
