mixin Value(title, icon)
	.g-xs-12.g-md-6: .Value.reveal-js
		.Value-header
			.Value-icon
				+FeatherIcon(icon)
			h3.Value-title=title

		if block
			.Value-description
				!=renderMarkdown(block)
