include /_components/index

doctype
html(lang='en')
	head
		meta(charset='utf-8')
		if site.title && site.description
			title #{site.title} – #{site.description}
		else
			title #{site.title}

		link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')
		link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')
		link(rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96')
		link(rel='icon' type='image/png' href='/favicon-128x128.png' sizes='128x128')

		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='/main.css', rel='stylesheet')
		script.
			document.documentElement.className += ' js'
		script(async src='https://www.googletagmanager.com/gtag/js?id=' + site.analytics)
		script.
			window.dataLayer = window.dataLayer || []
			function gtag(){dataLayer.push(arguments)}
			gtag('js', new Date())
		script!=`gtag('config', '${site.analytics}')`

	body
		!= yield
		if process.env.NODE_ENV === 'production'
			script(src='/bundle.min.js')
		else
			script(src='/assets/scripts/geometry.js')
			script(src='/assets/scripts/moebius.js')
			script(src='/assets/scripts/scrollreveal.min.js')
			script(src='/assets/scripts/autosize.min.js')

		script.
			moebius()

			window.sr = ScrollReveal({
				duration: 16*56,
				scale: 1,
				mobile: false,
				viewFactor: 0,
				viewOffset: {top: 96, right: 0, bottom: 96, left: 0},
				easing: 'cubic-bezier(0.250, 0.460, 0.450, 0.940)',
			})
			sr.reveal('.reveal-js')

			var $textarea = document.querySelector('textarea')
			if($textarea){
				$textarea.addEventListener('focus', function(){
					autosize($textarea)
				})
				$textarea.style.display = 'none'
				autosize($textarea)
				$textarea.style.display = ''
				autosize.update($textarea)
			}
