include /_components/index

+Hero('the best minds and capital for tech-driven companies')

main
	+Section('Where we can add value', 'We support companies through 7 main levers:')#value

	+Section('Consultancy Packages')#consultancy.-mid

		+Card('Business Development')
			ul

				li Lead Generation
				li Sales Representative 
				li Business Support


	+Section("Contact")#contact
		+ContactForm()

+Footer()
