include /_components/index

+Hero('the best minds and capital for tech-driven companies')

main
	+Section('Where we can add value', 'We support companies through 7 main levers:')#value
		.value-cards.g-row
			.g-xs-12.g-md-6: +Value('Team Building', 'users')
				:markdown
					We provide a startup’s most important asset: **Human capital**.
					One of our goals is to ensure great people find the best place.

			.g-xs-12.g-md-6: +Value('Operations', 'activity')
				:markdown
					We enhance administrative, accounting, legal, and technological fields
					by offering **Experts as a Service**.

			.g-xs-12.g-md-6: +Value('Perspective', 'crosshair')
				:markdown
					We leverage your product strategy — defining scope, target market and
					competitive positioning. To provide **strategic counselling** and frank
					feedback.

			.g-xs-12.g-md-6: +Value('Skill Building', 'layers')
				:markdown
					Building the right skills, especially for senior management. We
					collected a portfolio of executives that lead world-class technology
					companies. We also offer **coaching** as a key lever, with our own team or
					through outside partners.

			.g-xs-12.g-md-6: +Value('Costumer Development', 'user-plus')
				:markdown
					Identifying and gaining access to the **right customers**.
					We have relationships with large global corporations. We maintain a
					database of their needs — allowing us to identify early clients for
					your company.

			.g-xs-12.g-md-6: +Value('Analysis', 'bar-chart-2')
				:markdown
					Knowing the right KPIs to track in a company is essential for its
					success. We help entrepreneurs measure, understand, and report their
					**performance**.

			.g-xs-12.g-md-6: +Value('Network', 'globe')
				:markdown
					Providing access to contact networks — particularly to other **potential
					investors** — is one of the cheapest and most value-added
					services an investor can provide. We organize events in our community
					and have regular meetings with accelerators, VCs and enterprise
					clients.



	+Section('Consultancy Packages')#consultancy.-mid
		.consultancy-cards.g-row

			.g-xs-12.g-md-6.g-lg-4: +Card('Business Development')
				ul
					li Lead Generation
					li Sales Representative 
					li Business Support

			.g-xs-12.g-md-6.g-lg-4: +Card('Strategy')
				ul
					li Mentoring
					li Market Research
					li Competitive positioning,
					li Product Scope/Fit
					li Future Trends

			.g-xs-12.g-md-6.g-lg-4: +Card('Talent')

			.g-xs-12.g-md-6.g-lg-4: +Card('Soft Landing')

			.g-xs-12.g-md-6.g-lg-4: +Card('Funding')
				ul
					li Connecting startups with Capital
					li Business Plan Review
					li Due Diligence
					li Pitch Coach


			.g-xs-12.g-md-6.g-lg-4: +Card('Deal Flow')
				ul
					li For Corporations
					li Accelerator
					li Angels and VCs

			.g-xs-12.g-md-6.g-lg-4: +Card('Event Growth')


	+Section('Contact', 'By partnering with Muster, your company will receive constant attention, even when yours is pulled elsewhere.')#contact
		.g-row.Contact-layout
			.g-xs-12.g-md-4.g-lg-4
				+Sidebox


			.g-xs-12.g-md-7.g-lg-7: +ContactForm()

+Footer()
