@import "/_mixins"
@import "/_components"
@import "/assets/fonts"

html
	background: $color-brand

body
	font-size: 16px
	box-sizing: border-box
	font-family: $font-sans
	font-size: $font-size
	line-height: $line-height
	font-weight: 300
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-smooth: antialised
	font-smoothing: antialised
	text-rendering: optimizeLegibility
	color: $color-font
	background-color: $color-brand
	font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 1, "onum" 0, "lnum" 1, "dlig" 1, "zero" 1
	hyphens: auto
	font-size: 0.875rem
	line-height: 1.5rem
	+above(md)
		font-size: 1.125rem
		line-height: 2rem

::selection
	background: alpha($color-brand, 0.66)
	color: $color-body

a, button
	text-decoration: none
	color: currentColor
	cursor: pointer;

p + p
	margin-top: 1.25rem

strong
	font-weight: 500

main
	background: $color-body

.fixed
	position: fixed
	width: 100%
	display: block

.-flex
	display: flex;

.-fade
	color: alpha($color-font, 0.22)
	.-dark &, .-brand &
		color: alpha($color-body, 0.22)

.-ta-right
	text-align: right;

.-display-none
	display: none

img
	max-width: 100%
	height: auto;
	user-select: none;
