.Hero
	position: relative;
	width: 100%
	padding-top: 1rem
	+above(md)
		padding-top: 2rem
	+above(lg)
		padding-top: 4rem
	.Hero-container
		padding-top: 10rem
		padding-bottom: 4rem
		+above(lg)
			margin-top: 13rem
			padding-bottom: 5rem
	.Hero-title
		font-size: $size-4
		line-height: 1.75rem
		hyphens: none;
		max-width: 16rem
		+above(lg)
			font-size: $size-2
