.NavBar
	z-index: 2
	position: relative
	.-md-hide
		display: none;
		+above(md)
			display: inline-block;

.Footer
	padding-top: 1rem
	padding-bottom: 1rem
	color: $color-brand
	background: $color-mid

.NavBar-container, .Footer-container
	display: flex
	flex-wrap: wrap;
	justify-content: space-between
	align-items: baseline;
	padding-top: 1rem
	padding-bottom: 1rem


.NavBar-left, .Footer-logo
	display: block;
	position: relative;
	padding: 0.5rem 0

.NavBar-left
	:hover, :focus
		.Navbar-definition
			color: alpha($color-body, 0.66)
			transform: translateY(-1rem);
			opacity: 1

.Navbar-definition
	width: 14em
	font-size: 0.875rem
	position: absolute;
	top: 100%
	opacity: 0
	transition: 0.35s all
	transform: translateY(-0.75rem);

.NavBar-links
	display flex
	font-size: 0.875rem
	li + li
		margin-left 1rem
	a
		padding 1.5em 0
		transition all .2s ease-out

.NavBar-links
	&:hover a
		opacity 0.44
	&:hover a:hover
		opacity 1

.Footer-container
	display: block;

.Footer-links
	display: block;
	a
		display: block;
		padding: 0.5rem 0
		+above(lg)
			padding: 2rem 0

+above(lg)
	.Footer-container, .Footer-links
		display: flex;
		li + li
			margin-left: 2rem
	.Footer-logo
		flex 1
	.Footer-links
		flex 2
		li
			flex 1
