@font-face {
	font-family: 'Inter UI';
	src: url('/assets/fonts/interui/Inter-UI-Regular.eot');
	src: url('/assets/fonts/interui/Inter-UI-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/interui/Inter-UI-Regular.woff') format('woff'),
		url('/assets/fonts/interui/Inter-UI-Regular.ttf') format('truetype'),
		url('/assets/fonts/interui/Inter-UI-Regular.svg#Inter-UI-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter UI';
	src: url('/assets/fonts/interui/Inter-UI-Regularitalic.eot');
	src: url('/assets/fonts/interui/Inter-UI-Regularitalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/interui/Inter-UI-Regularitalic.woff') format('woff'),
		url('/assets/fonts/interui/Inter-UI-Regularitalic.ttf') format('truetype'),
		url('/assets/fonts/interui/Inter-UI-Regularitalic.svg#Inter-UI-Regularitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Inter UI';
	src: url('/assets/fonts/interui/Inter-UI-Medium.eot');
	src: url('/assets/fonts/interui/Inter-UI-Medium.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/interui/Inter-UI-Medium.woff') format('woff'),
		url('/assets/fonts/interui/Inter-UI-Medium.ttf') format('truetype'),
		url('/assets/fonts/interui/Inter-UI-Medium.svg#Inter-UI-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Inter UI';
	src: url('/assets/fonts/interui/Inter-UI-Mediumitalic.eot');
	src: url('/assets/fonts/interui/Inter-UI-Mediumitalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/interui/Inter-UI-Mediumitalic.woff') format('woff'),
		url('/assets/fonts/interui/Inter-UI-Mediumitalic.ttf') format('truetype'),
		url('/assets/fonts/interui/Inter-UI-Mediumitalic.svg#Inter-UI-Mediumitalic') format('svg');
	font-weight: 500;
	font-style: italic;
}


// @font-face {
// 	font-family: 'Inter UI';
// 	src: url('/assets/fonts/interui/Inter-UI-Bold.eot');
// 	src: url('/assets/fonts/interui/Inter-UI-Bold.eot?#iefix') format('embedded-opentype'),
// 		url('/assets/fonts/interui/Inter-UI-Bold.woff') format('woff'),
// 		url('/assets/fonts/interui/Inter-UI-Bold.ttf') format('truetype'),
// 		url('/assets/fonts/interui/Inter-UI-Bold.svg#Inter-UI-Bold') format('svg');
// 	font-weight: 600;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Inter UI';
// 	src: url('/assets/fonts/interui/Inter-UI-Bolditalic.eot');
// 	src: url('/assets/fonts/interui/Inter-UI-Bolditalic.eot?#iefix') format('embedded-opentype'),
// 		url('/assets/fonts/interui/Inter-UI-Bolditalic.woff') format('woff'),
// 		url('/assets/fonts/interui/Inter-UI-Bolditalic.ttf') format('truetype'),
// 		url('/assets/fonts/interui/Inter-UI-Bolditalic.svg#Inter-UI-Bolditalic') format('svg');
// 	font-weight: 600;
// 	font-style: italic;
// }

// @font-face {
// 	font-family: 'Inter UI';
// 	src: url('/assets/fonts/interui/Inter-UI-Black.eot');
// 	src: url('/assets/fonts/interui/Inter-UI-Black.eot?#iefix') format('embedded-opentype'),
// 		url('/assets/fonts/interui/Inter-UI-Black.woff') format('woff'),
// 		url('/assets/fonts/interui/Inter-UI-Black.ttf') format('truetype'),
// 		url('/assets/fonts/interui/Inter-UI-Black.svg#Inter-UI-Black') format('svg');
// 	font-weight: 900;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Inter UI';
// 	src: url('/assets/fonts/interui/Inter-UI-Blackitalic.eot');
// 	src: url('/assets/fonts/interui/Inter-UI-Blackitalic.eot?#iefix') format('embedded-opentype'),
// 		url('/assets/fonts/interui/Inter-UI-Blackitalic.woff') format('woff'),
// 		url('/assets/fonts/interui/Inter-UI-Blackitalic.ttf') format('truetype'),
// 		url('/assets/fonts/interui/Inter-UI-Blackitalic.svg#Inter-UI-Blackitalic') format('svg');
// 	font-weight: 900;
// 	font-style: italic;
// }
