mixin Sidebox(title)
	.Sidebox
		.Sidebox-header
			.Sidebox-title The first meeting is on the house
			.Sidebox-icon
				+FeatherIcon('zap')
		.Sidebox-content
			.Sidebox-description 30 minutes dedicated to your company.
			.Sidebox-subdescription No contracts, no credit cards, no obligations
