mixin Section(title, description)
	section.Section&attributes(attributes)
		.container
			.Section-header
				if title
					h2.Section-title=title
				if description
					p.Section-description=description
			block
