.Section
	overflow: hidden;
	padding-top: 3rem
	padding-bottom: 5rem
	+above(lg)
		padding-top: 6rem
		padding-bottom: 12em

.Section-header
	margin-bottom: 2.5rem
	+above(lg)
		margin-bottom: 4rem

.Section-title
	color: $color-brand
	font-size: $size-2
	line-height: $size-1
	letter-spacing: -0.25px
	+above(lg)
		font-size: $size-1
		line-height: 2rem

.Section-description
	font-size: $size-4
	line-height: $size-4
	opacity 0.88
	margin-top: 0.5rem
	letter-spacing: -0.25px
	margin-bottom: 1.75rem
	+above(lg)
		line-height: $size-1
