.Section
	overflow: hidden;
	padding-top: 4rem
	padding-bottom: 5rem
	+above(lg)
		padding-top: 6rem
		padding-bottom: 12em

.Section-header
	margin-bottom: 1.5rem
	+above(lg)
		margin-bottom: 2.5rem

.Section-title
	color: $color-brand
	font-size: $size-2
	line-height: $size-1
	letter-spacing: -0.25px
	+above(lg)
		font-size: $size-1
		line-height: 2rem

.Section-description
	max-width: 32rem
	font-size: $size-4
	line-height: $size-1
	opacity 0.88
	margin-top: 1rem
	margin-bottom: 2rem
	letter-spacing: -0.25px
	margin-bottom: 1.75rem
	+above(md)
		font-size: $size-3
