
.ContactForm-section
	position relative
	+above(md)
		display: flex;
		align-items: center;
		justify-content: space-between;

@import './input.styl'
@import './button.styl'


.Contact-layout
	margin-top: 4rem
	+above(md)
		margin-top: 6em
		flex-direction: row-reverse;
		justify-content:space-between;

.Contact-sidebox
	// border 1px solid $color-brand
	background: $color-mid
	padding: 2rem 2.5rem
